html,
body,
#root,
.room {
  height: 100%;
  font-size: 40px;
  text-align: center;
}
.lit {
  background-color: white;
  color: black;
}
.dark {
  background-color: black;
  color: white;
}
.dark > button {
  background-color: black;
  color: white;
  border-color: white;
}

span {
  color: coral;
  font-size: 70px;
}

button {
  font-size: 24px;
  margin: 40px;
  padding: 20px;
  font-family: monospace;
  border-radius: 10%;
}
